<a href="https://colab.research.google.com/github/Falconwatch/hackaton/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

# Читаем данные

In [0]:
goods = pd.read_parquet('goods_final.parquet')
bads = pd.read_parquet('bads_fixed.parquet')

# Сборщик статистики

In [0]:
def geature_generator(bads_data, goods_data, splitter):
  goods_features = goods['address'].apply(splitter)
  bads_features = bads['address'].apply(splitter)

  good_words, good_counts = np.unique(np.concatenate(goods_features.values), return_counts=True)
  bad_words, bad_counts = np.unique(np.concatenate(bads_features.values), return_counts=True)

  vocab =dict()
  for gw, gc in zip(good_words, good_counts):
    vocab[gw] = [gc, 0]


  for bw, bc in zip(bad_words, bad_counts):
    if bw in vocab:
      vocab[bw] = [vocab[bw][0], bc]
    else:
      vocab[bw] = [0, bc]
  
  vocab_stats = pd.DataFrame.from_dict(vocab, orient='index').reset_index()
  vocab_stats.columns = ['feature', 'in_good', 'in_bad']  
  return vocab_stats

# Сплитим адресс по запятой

In [0]:
def split_address(adr):
  return [w.strip().lower() for w in adr.split(',')]

In [0]:
coma_stats = geature_generator(bads, goods, split_address)

In [0]:
#встречаются только в плохих
seen_only_in_bad_coma = coma_stats[coma_stats['in_good']==0]

In [104]:
seen_only_in_bad_coma.sort_values(by=['in_bad'], ascending=False)[:30]

                     feature  in_good  in_bad
287926                пом. i        0    6355
264836               корп. 2        0    3916
260167                ком. 1        0    2964
288055               пом. ii        0    2949
269600      м. речной вокзал        0    2559
264991               корп. 3        0    2046
269116               м. вднх        0    2003
261095                ком. 2        0    2002
288120              пом. iii        0    2001
261523                ком. 3        0    1937
275784  нао (новомосковский)        0    1830
288191               пом. iv        0    1762
269009          м. алтуфьево        0    1748
269499         м. павелецкая        0    1730
269047         м. бауманская        0    1715
269823         м. щелковская        0    1629
269842       м. юго-западная        0    1619
261862                ком. 4        0    1589
269060        м. белорусская        0    1558
269692          м. таганская        0    1556
288325                пом. v        0    1479
286804                пом. 1        0    1442
269259         м. котельники        0    1400
255125                  к. 1        0    1358
196653                   б/н        0    1327
269655         м. смоленская        0    1317
288365               пом. vi        0    1252
269362         м. молодежная        0    1242
269338         м. маяковская        0    1223
269535          м. планерная        0    1220

# попробуем сплит по пробелу

In [0]:
def split_address_ws(adr):
  return [w.strip().lower() for w in adr.split(' ')]

In [0]:
ws_stats = geature_generator(bads, goods, split_address_ws)

In [0]:
#встречаются только в плохих
seen_only_in_bad_ws = ws_stats[ws_stats['in_good']==0]

In [106]:
seen_only_in_bad_ws.sort_values(by=['in_bad'], ascending=False)[:30]

                  feature  in_good  in_bad
96650                 мцк        0   11982
87994                дом.        0   10407
103372               р-н.        0    7478
78700                  i,        0    6188
99678                 п/р        0    5988
50949         (посмотреть        0    3697
90895              карте)        0    3697
102797            проезд.        0    2779
78860                 ii,        0    2725
103424              р-он:        0    2693
84898             вокзал,        0    2476
83885               вднх,        0    1983
78948                iii,        0    1873
96904                 нао        0    1831
50836   (новомосковский),        0    1823
104886                с/п        0    1777
79067                 iv,        0    1686
110563        щелковская,        0    1593
83518                 в/ч        0    1512
79552                  v,        0    1384
79613                 vi,        0    1210
82428       бабушкинская,        0    1160
91396        китай-город,        0    1046
51733                   /        0    1013
84814              водный        0    1009
93602           культуры,        0    1008
111463                  №        0     992
79836                 xi,        0     987
88309           дубровка,        0     979
110318          шелепиха,        0     967

# Сплит посимвольно

In [0]:
def split_address_sym(adr):
  return [s for s in adr.lower()]

In [0]:
sym_stats = geature_generator(bads, goods, split_address_sym)

In [0]:
#встречаются только в плохих
seen_only_in_bad_sym = sym_stats[sym_stats['in_good']==0]

In [112]:
seen_only_in_bad_sym.sort_values(by=['in_bad'], ascending=False)[:30]

    feature  in_good  in_bad
97        /        0   57460
98        :        0    3563
115       №        0    2516
99        ;        0     130
94       \n        0     130
95        !        0      74
104       j        0      33
96        %        0      17
105       q        0      13
111       ’        0      12
103       `        0       9
109       ·        0       6
112       “        0       6
113       ”        0       4
100       <        0       3
108       ­        0       3
102       [        0       1
101       >        0       1
106       {        0       1
110       ‘        0       1
114       •        0       1
107       ¦        0       1